* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Fredoka", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings: "wdth" 100;
	background-color: #eaf6ff;
}

.container {
	display: flex;
	flex-direction: column;
	height: 70vh;
	justify-content: center;
	align-items: center;
}

.main-content {
	flex-grow: 1;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.header {
	display: flex;
	align-items: center;
	justify-content: center;
}

.logo {
	width: 240px;
	height: 60px;
	max-width: 100%;
	height: auto;
	margin-right: 20%;
}

.search-bar {
	margin-top: 20px;
	display: flex;
	align-items: center;
}

.search-input {
	padding: 15px;
	width: 100%;
	max-width: 400px;
	border: none;
	border-radius: 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	outline: none;
}

.search-input:focus {
	outline: none;
}

.search-button {
	background-color: #a8cfea;
	border: none;
	margin-left: 10px;
	border-radius: 50%;
	padding: 15px;
	cursor: pointer;
	box-shadow: 0 5px 9px rgba(0, 0, 0, 0.1);
	transition: box-shadow 0.3s ease;
}

.search-button img {
	width: 20px;
}

.search-button:active {
	box-shadow: none;
}

.search-button:focus {
	outline: none;
}

.search-button:focus:not(:active) {
	box-shadow: 0 5px 9px rgba(0, 0, 0, 0.1);
}

.download {
	padding: 5px;
	border-radius: 19px;
	background: #fff;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: space-evenly;
	margin-top: 5%;
	transition: box-shadow 0.3s ease;
	cursor: pointer;
}

.cir {
	background: #a8cfea;
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

.download > p {
	margin-left: 4px;
}

.download > img {
	height: 30px;
	width: 30px;
}

.download:active {
	box-shadow: none;
}

.download:focus {
	outline: none;
}

.download:focus:not(:active) {
	box-shadow: 0 5px 9px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
	.download > p {
		font-size: 12px;
	}
}

@media (min-width: 768px) {
	.container {
		flex-direction: row;
	}

	.main-content {
		padding: 50px;
	}

	.search-bar {
		flex-direction: row;
	}

	.search-input {
		width: 400px;
	}
}
a {
	text-decoration: none;
}
